[data-scope="button"][data-part="basic"] {
  border: none;
  background-color: transparent;
}

[data-scope="button"][data-part="circle"] {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: #e5e5e5;
}
