{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "tabWidth": 2,
  "quoteProps": "as-needed"
}
